.jumbotron {
    text-align: right;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    padding: 2cm 2cm 2cm 2cm;
    background: linear-gradient(45deg, #ad1561, #631781, #3d0255);
    color: white;
}

.jumbotron h1 {
    font-size: 8em;
}

.jumbotron p {
    font-size: 4em;
}

.container-extended,
body {
    background-color: #e2d7ff;
}

#student {
    border-right: 1px solid #3d0255a2;
}

#student h1,
#faculty h1,
#student label,
#student input,
#faculty label,
#faculty input {
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

.form-control {
    height: 1.8cm;
    padding: 8px 14px;
    font-size: 28px;
}

#student h1,
#faculty h1 {
    text-align: center;
    font-size: 3em;
    color: #250133;
    padding: 1cm 1cm 1cm 1cm;
}

.forms {
    padding: 1.5cm 1.5cm 1.5cm 1.5cm;
}