<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="/app/app-content/signupstyle.css">-->
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- Angular JS -->

    <!-- FONTS  -->

    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <style>
        .jumbotron {
            text-align: right;
            font-weight: bold;
            font-family: 'Ubuntu', sans-serif;
            padding: 2cm 2cm 2cm 2cm;
            background: linear-gradient(45deg, #ad1561, #631781, #3d0255);
            color: white;
        }

        .jumbotron h1 {
            font-size: 8em;
        }

        .jumbotron p {
            font-size: 4em;
        }

        .container,
        body {
            background-color: #e2d7ff;
        }

        .form-control,
        .btn {
            height: 1.8cm;
            padding: 8px 14px;
            font-size: 28px;
        }

        .form-group,
        .btn {
            font-weight: bold;
            font-family: 'Ubuntu', sans-serif;
        }

    </style>
</head>
<body>